/* Hero Section */
.hero-section-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-content-detail {
    text-align: center;
    padding-top: 50vh;
}

.hero-content-detail h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

/* Detalles del Proyecto */
.project-details {
    padding: 2rem;
    background-color: #f4f4f4;
}

.project-details h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.project-details p {
    font-size: 1.2rem;
    color: #555;
}

/* Galería de Imágenes */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1.5rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr; 
    }

    .hero-content-detail h3 {
        font-size: 2rem;        
    }

    .hero-content-detail {
        padding-top: 0;
    }
}


.gallery-item img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
